.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.emoji-button {
  border: #777777 1px solid;
  padding: 1.4rem;
  cursor: pointer;
}

.emoji-button__radio {
  display: none;
}

.emoji-button__label img {
  width: 30px;
}

.emoji-button__label {
  padding: 2rem;
  border: #333 1px solid;
}

.emoji-button__radio:checked + label {
  background-color: #95dbfe;
}
